<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" /> <!-- SMS 권한 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" /> <!-- 앨범,카메라 사용 위한 권한 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMarket"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".my_page.InterestListActivity"
            android:exported="false" />
        <activity
            android:name=".my_page.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".my_page.SalesHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".sale.SelectBuyerActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".home.SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".home.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".my_page.UpdateUserActivity"
            android:exported="false" />
        <activity
            android:name=".sale.GoodsActivity"
            android:exported="false"
            android:theme="@style/Theme.Goods" />
        <activity
            android:name=".sale.SaleActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorPrimary" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project_bong.mymarket.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path_provider" />
        </provider>
    </application>

</manifest>